@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #001f5e;
}

::-webkit-scrollbar-thumb {
  background: #FFD700;
  border-radius: 4px;
}

